nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 12px;
    background-color: #236c8b;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#home-section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f8ff;
    font-style: italic;
}

#list-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
}

/* Фильтр */
#list-section input {
    padding: 6px;
    margin-right: 5px;
    margin-bottom: 8px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#list-section button {
    padding: 6px 12px;
    border: 1px solid #999;
    background: #f3f3f3;
    border-radius: 4px;
    cursor: pointer;
}

#list-section button:hover {
    background: #e6e6e6;
}

/* Список */
#list {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

#list li {
    padding: 8px;
    margin-bottom: 6px;

    border: 1px solid #ddd;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Кнопки внутри списка */
#list li button {
    margin-left: 5px;
    padding: 4px 8px;
    font-size: 12px;
}


#add-section {
    display: flex;
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    flex-direction: column;
}

#add-section h2 {
    text-align: center;
    margin-bottom: 10px;
}

#add-section input {
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #cbd0d7;
    border-radius: 4px;
}

#add-section button {
    width: 100%;
    padding: 8px;

    border: none;
    border-radius: 4px;
    background-color: #236c8b;
    color: white;

    cursor: pointer;
}

#add-section button:hover {
    background-color: #1c5870;
}
